.list-container {
  margin-top: 3em;
}

.list-container .list-item-container {
  background-color: #0A0A0A;
  border-radius: .25em;
  margin: .3em;
  width: 70%;
  height: 1.3em;
  margin-left: 15%;
  transition: .4s background-color;
}

.list-container .list-text {
  margin: 0;
}

.list-container input {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  color:white;
  background-color: #0A0A0A;
  border:none;
  text-align: center;
  float: center;
  width:auto;
}


.list-container .adder span {
  float: left;
}
.list-container .adder button {
  float: right;
}


.list-container .list-text:hover {
  background-color: black;
}
